<nav>
    <a id="btn-solutions" class="fas fa-lightbulb" href="/solutions">
        <span>Solutions</span>
    </a>
    <a id="btn-products" class="fas fa-laptop" href="/products">
        <span>Products</span>
    </a>
    <a id="btn-hire" class="fas fa-calendar-alt" href="https://cal.com/helenjrdev/interview" target="_blank" rel="noopener">
        <span>Hire</span>
    </a>
    <a id="btn-employers" class="fas fa-id-badge" href="/employers">
        <span>Employers</span>
    </a>
    <a id="btn-customers" class="fas fa-users" href="/clients">
        <span>Clients</span>
    </a>
</nav>