<div>
    <a href="/">
        <img src="./assets/images/theme/logos/helenjrdev-bw-m.png" alt="logo">
    </a>
    <p>
        Detroit AI &amp; Software Engineer <br/>
        + 
        <a href="https://cal.com/helenjrdev" target="_blank" rel="noopener">Hire</a> 
        + 
        <a href="https://linkedin/in/hgriffinjr" target="_blank" rel="noopener">Connect</a>
        + 
        <a href="https://linkedin/company/helenjrdev" target="_blank" rel="noopener">Follow</a>
    </p>
</div>
<nav>
    <ul>
        <li>Meet Helen</li>
        <li>
            <a href="/solutions">Solutions</a> 
        </li>
        <li>
            <a href="/products">Products</a> 
        </li>
        <li>
            <a href="/resume">Resume</a> 
        </li>
    </ul>
    <ul>
        <li>
            <a href="/employers">Employers</a> 
        </li>
        <li>
            <a href="/employers/engineering-managers">Engineer Managers</a> 
        </li>
        <li>
            <a href="/employers/product-managers">Product Managers</a> 
        </li>
        <li>
            <a href="/employers/engineering-heads-dir">Engineering Heads &amp; Directors</a> 
        </li>
        <li>
            <a href="/employers/tech-founders/">Tech Fouders</a> 
        </li>
    </ul>
    <ul>
        <li>
            <a href="/clients">Clients</a> 
        </li>
        <li>
            <a href="/clients/owners">Business Owners</a> 
        </li>
        <li>
            <a href="/clients/founders">Founders</a> 
        </li>
        <li>
            <a href="/clients/managers">Ops &amp; General Managers</a> 
        </li>
        <li>
            <a  href="/clients/project-managers">Project Managers</a> 
        </li>
    </ul>
    <p>
        &copy; 2025-2026 Helen Jr Dev LLC. All rights reserved.
    </p>
</nav>