
<button class="close_slide_button btn" type="button">&times;</button>
<div id="preview">
    <picture id="slides" class="change slides">
        <span id="preview_title"></span>
        <img id="" src="" alt="" >
        <span id="preview_page"></span>
    </picture>
</div>


<div id="slide_buttons">
    <button id="prev" class=" preview_button">&#10094;</button>
    <button id="next" class=" preview_button">&#10095;</button>
</div>

<div id="pagination">
    <!--
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    -->
</div>

<!--
<div id="preview-2">
    <picture class="slide-1 slide ">
        <span>1 / X</span>
        <img src="../assets/images/products/MOH-m-1.png" srcset="../assets/images/products/MOH-t-1.png 900w, ../assets/images/products/MOH-w-1.png 1000w" sizes="" alt="" >
    </picture>
    <picture class="slide-2 slide ">
        <img src="../assets/images/products/MOH-m-2.png" srcset="../assets/images/products/MOH-t-2.png 900w, ../assets/images/products/MOH-w-2.png 1000w" sizes="" alt="" >
    </picture>
    <picture class="slide-3 slide ">
        <img src="../assets/images/products/MOH-m-3.png" srcset="../assets/images/products/MOH-t-3.png 900w, ../assets/images/products/MOH-w-3.png 1000w" sizes="" alt="" >
    </picture>
    <picture class="slide-4 slide ">
        <img src="../assets/images/products/MOH-m-4.png" srcset="../assets/images/products/MOH-t-4.png 900w, ../assets/images/products/MOH-w-4.png 1000w" sizes="" alt="" >
    </picture>
</div>
<div id="preview-3">
    <picture class="slide-1 slide ">
        <span>1 / X</span>
        <img src="../assets/images/products/SOS-m-1.png" srcset="../assets/images/products/SOS-t-1.png 900w, ../assets/images/products/SOS-w-1.png 1000w" sizes="" alt="" >
    </picture>
    <picture class="slide-2 slide ">
        <img src="../assets/images/products/SOS-m-2.png" srcset="../assets/images/products/SOS-t-2.png 900w, ../assets/images/products/SOS-w-2.png 1000w" sizes="" alt="" >
    </picture>
</div>
-->